*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pict/flowersbg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu{
    background-color: rgba(6, 143, 84, 0.5);
    display: flex;
}
.headermenu{
    display: flex;
    flex: 1;
    width: 50%;
    justify-content: space-around;
    align-items: flex-end;
    margin: 20px;
}
.headercont img{
    height: 100px;
    flex: 0;
    margin: 20px;
}
.headerregis, .headerlogin{
    margin-top: 0;
}


/* MAIN */
main{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}
.maincont{
    justify-content: space-between;
    text-align: center;
    background-color: rgba(6, 143, 84, 0.5);
    padding: 10px 20px 10px 20px;
    width: 500px;
}
.field{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 5px 0 0 0;
}
label{
    font-weight: bold;
}
.field input{
    background-color: rgba(6, 143, 84, 0.0);
    border-left: none;
    border-top: none;
    border-right: none;
}
.fieldsub input{
    background-color: #df90a8;
    color: rgb(6, 143, 84, 0.5);
    border-style: none;
    padding: 5px;
    margin: 10px 5px 0 5px;
}
.inlab{
    display: grid;
}
span{
    color: red;
}