*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
/* HOMEPAGE */
.home{
    color: aliceblue;
    justify-content: center;
    text-align: center;
    background-image: url(pict/flowersbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.headerhome{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 143, 84);
    height: 100px;
}
.headerhome img{
    flex: 0;
    height: 80px;
    margin-left: 20px;
    margin-right: 75vw;
}
.lognregbox{
    flex: 1;
    width: 50%;
    justify-content: space-around;
    align-items: flex-end;
    margin: 20px;
}
.lognregbox a{
    color: white;
    margin: 20px;
    text-decoration: none;
}
.teamhome{
    text-align: center;
    background-color: aliceblue;
    padding: 50px;
}
.box-home{
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 200px;
}
.box-1{
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 200px;
}
.box-1 p{
    font-weight: bold;
}
.anoconthome-1{
    background-image: url(pict/flowersbg6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.anoconthome-2{
    padding-left: 50px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 200px;
}
.anoconthome-2 p{
    width: 40vw;
}
/* AFTER-LOG */
body{
    background-image: url(pict/flowersbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu{
    background-color: rgba(6, 143, 84);
    display: flex;
    justify-content: center;
    align-items: center;
}
.headermenu{
    display: flex;
    flex: 1;
    width: 50%;
    justify-content: space-around;
    align-items: flex-end;
    margin: 20px;
}
.headermenu a {
    color: white;
    margin: 20px;
    text-decoration: none;
}
.headercont img{
    height: 100px;
    flex: 0;
    margin: 10px 75vw 10px 20px;
}


/* MAIN */
main{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}
.mainsect{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.255);
}
.maincont{
    justify-content: space-between;
    text-align: center;
    background-color: rgba(6, 143, 84);
    padding: 10px 20px 10px 20px;
    width: 500px;
    margin: 30vh 0 30vh 0;
}
.field{
    justify-content: space-between;
    text-align: left;
    margin: 5px 0 0 0;
}
label{
    color: white;
}
.field input{
    background-color: rgba(6, 143, 84, 0.0);
    border-left: none;
    border-top: none;
    border-right: none;
    margin: 10px;
}
.fieldsub input{
    background-color: white;
    color: rgb(6, 143, 84);
    border-style: none;
    padding: 5px;
    margin: 10px 5px 0 5px;
}
.inlab{
    display: grid;
}
span{
    color: red;
}


/* LOGIN */
fieldset{
    border: none;
}
legend{
    font-weight: bold;
    color: aliceblue;
    margin: 10px;
}
.toregis{
    text-align: right;
}
.toregis a{
    text-decoration: none;
}

/* REGISTRASI */
fieldset select{
    height: 30px;
    margin: 0 0 50px 0;
}
